{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>About OT Currency</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="jumbotron">
        <h1 class="text-center">What is OT Currency?</h1>
        <hr>
        <p>
          OT Currency is a project made for Oakland Tech's 2019 Capstone class
          by Clemente Ferrer. It was designed using the Stanford d.school
          method of design for future generations of students at Oakland
          Tech. It is a website for promoting prosocial behavior in the
          community be enabling peers to reward each other for their
          actions. It also incentivizes such behavior by giving rewards
          to both the recipients and givers of currency. This currency
          can then be redeemed for prizes (theoretically when it is put
          into action within the school).
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h1 class="text-center">What is Currency (Your Wallet)?</h1>
        <hr>
        <p>
          Against all logic, currency on this website is invaluable. You get 10
          currency per week and can give it to whoever you want for whatever
          reason you want. Both the sender and receiver get an equal amount of
          reputation for a transaction.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h1 class="text-center">What is Reputation?</h1>
        <hr>
        <p>
          You get one reputation for every currency you send or recieve. If you
          send your friend 10 currency, you both get 10 reputation. Reputation
          has real value and can be redeemed.
          <br /><br />
          In other words, reputation = money given + money received
        </p>
      </div>
    </div>
  </div>
{% endblock %}
