{% extends "base.html" %}

{% block body %}
<table class="table">
<tr><td colspan=3><h2>Given by {{user.name}}</h2></td></tr>

    <tr><th>Recipient</th><th>amount</th><th>reason</th></tr>
  {% for given in giver %}
    <tr>
      <td>
        {{given.recipient.name}}
      </td>
      <td>
        {{given.amount}}
      </td>
      <td>
        {{given.reason}}
      </td>
    </tr>
  {% endfor %}

<tr><td colspan=3><h2>Received by {{user.name}}</h2></td></tr>
    <tr><th>Giver</th><th>amount</th><th>reason</th></tr>
  {% for recipient in received %}
    <tr>
      <td>
        {{recipient.giver.name}}
      </td>
      <td>
        {{recipient.amount}}
      </td>
      <td>
        {{recipient.reason}}
      </td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}
